<% title "Manage Users" %>
<p><%= link_to "New User", new_account_path %></p>
<% if @users.present? %>
  <table>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Roles</th>
      <th>Approved</th>
      <td></td>
      <td></td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= time_ago_in_words user.created_at %></td>
      <td><%= time_ago_in_words user.updated_at %></td>
      <td><%= user.role_symbols.join(", ") %></td>
      <td>
        <% if user.approved? %>
          Yes
        <% else %>
          <%= form_for user, :url => admin_user_path(user) do |f| %>
            <%= f.hidden_field :approved, :value => true %>
            <%= f.submit "Approve" %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= form_tag admin_impersonation_path do %>
          <%= hidden_field_tag "user[id]", user.id  %>
          <%= submit_tag "Impersonate" %>
        <% end %>
      </td>
      <td>
        <%= button_to "Delete", admin_user_path(user), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @users %>
<% end %>