<% title "Edit Profile" %>

<%= semantic_form_for @user, :url => account_path(@user) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<p>&nbsp;</p>

<p>
  You currently logged in on <%= @user.current_login_at %> from <%= @user.current_login_ip %><br/>
  <% if @user.last_login_at %>You last logged in on <%= @user.last_login_at %> from <%= @user.last_login_ip %><% end %><br/>
  Your account was created on <%= @user.created_at %><br/>
</p>